<ul nz-menu>
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/help']">Help Center</a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/forum']">Suport Forum</a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/videos']">Videos</a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/releases']">Release notes</a>
    </li>

    <li nz-menu-divider></li>

    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/summary']">Legal summary</a>
    </li>

    <li nz-menu-divider></li>

    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/feedback']">Submit feedback</a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/community']">Ask the community</a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/contact-support']">Contact support</a>
    </li>
  </ul>
